html * {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.header-hero {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.hero-one {
    font-size: 48px;
    font-weight: 800;
}

.content-one {
    display: flex;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #1F2937;
    
}

.button-content {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    flex-direction: column;
    flex-basis: calc(100%/2);
    gap: 5px;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 5px 20px;
    border-radius: 7px;
    border: #3882f6;
}



ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.image-content {
    display: flex;
    background-color: grey;
    color: white;
    align-items: center;
    justify-content: center;
    flex-basis: calc(100%/2);
    width: 100%;
}