html * {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding-bottom: 75px;
    padding-left: 100px;
    padding-right: 100px;
}

.header-hero {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.hero-one {
    font-size: 48px;
    font-weight: 800;
}

.content-one {
    display: flex;
    padding-bottom: 75px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #1F2937;
    gap: 35px;
}

.button-content {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    flex-direction: column;
    flex-basis: calc(100%/2);
    gap: 5px;
}

.button-one {
    background-color: #3882f6;
    color: white;
    padding: 5px 20px;
    border-radius: 7px;
    border: #3882f6;
}



ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.image-content {
    display: flex;
    background-color: grey;
    color: white;
    align-items: center;
    justify-content: center;
    flex-basis: calc(100%/2);
    width: 100%;
}

.content-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 75px;
    padding-left: 200px;
    padding-right: 200px;
}

.info-one {
    display: flex;
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    padding: 30px;
}

.info-two {
    display: flex;
    gap: 50px;
}

.info-two-square {
    display: flex;
    flex-direction: column;
    color: grey;
    font-size: 13px;
    gap: 10px;
    width: 120px;
    text-align: center;
}

.square {
    height: 120px;
    width: 120px;
    border: 3px solid #3882f6;
    border-radius: 7px;
}

.content-three {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding-top: 75px;
    padding-bottom: 50px;
    padding-left: 220px;
    padding-right: 220px;
}

.quote-one {
    font-size: 30px;
    font-style: italic;
    font-weight:300;
    color: #1f2937;
}

.quote-two {
    padding-top: 10px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.content-four {
    display: flex;
    background-color: #3882f6;
    margin: 50px 100px;
    padding: 30px 100px;
    border-radius: 7px;
}

.cta-left {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.cta-one {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.cta-two {
    color: white;
    font-size: 12px;
}

.button-two {
    background-color: #3882f6;
    color: white;
    padding: 5px 20px;
    border-radius: 7px;
    border-color: white;
    border: solid;
    border-width: 2px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: auto;
}